.hero-container {
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: url("../../Assets/Img/Garrett.jpeg");
    background-size: cover;
    background-position: 13rem -12rem;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 0.18fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    color: #fff;
    padding: 0;
    margin: 0;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $Base-color-backgrond;
        opacity: 0.6;
        z-index: 1;
    }
    .hero-content {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        z-index: 3;
        align-self: end;
        .hero-subtitle {
            font-family: Saira;
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 0.5rem;
        }
        .hero-title {
            -webkit-text-stroke: 2px $base-color-detail;
            color: transparent;
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 0.3rem;
            margin-left: -0.4rem;
        }
        .hero-description {
            font-family: Saira;
            font-size: 0.8rem;
            font-weight: 400;
            letter-spacing: 0.4rem;
            ul {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    border-left: 5px solid $base-color-detail;
                    padding: 0.5rem 1rem;
                    margin: 0.5rem 0;
                    h4 {
                        padding-bottom: 0.6rem;
                    }
                    p {
                        padding-left: 0.5rem;
                    }
                }
            }
        }
    }

    .hero-mouse {
        grid-column-start: 3;
        z-index: 2;
        align-self: center;
        justify-self: center;
        position: relative;
       
        .hero-mouse-line {
            width: 0.1rem;
            height: 6.48rem;
            background-color: $base-color-detail;
            position: absolute;
            top: 0;
            left: 0.88rem;
        }
        .hero-mouse-icon {
            border-radius: 100px;
            height: 55px;
            width: 30px;
            background: $Base-color-backgrond
                linear-gradient(transparent 0%, transparent 50%, $Base-color-backgrond 50%, $Base-color-backgrond 100%);
            background-size: 100% 200%;
            position: absolute;
            top: 0.9rem;
            left: 0.19rem;
            animation: colorSlide 5s infinite linear, nudgeMouse 5s ease-in-out infinite;
            &:after,
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
            &::before {
                width: 75%;
                height: 90%;
                border-radius: 100px;
                background-color: $base-color-detail;
            }
            &::after {
                background-color: $Base-color-backgrond;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                animation: trackBallSlide 5s infinite linear;
            }
            @keyframes colorSlide {
                0% {
                    background-position: 0% 100%;
                }
                20% {
                    background-position: 0% 0%;
                }
                21% {
                    background-color: $base-color-detail;
                }
                29.99% {
                    background-color: $Base-color-backgrond;
                    background-position: 0% 0%;
                }
                30% {
                    background-color: $base-color-detail;
                    background-position: 0% 100%;
                }
                50% {
                    background-position: 0% 0%;
                }
                51% {
                    background-color: $base-color-detail;
                }
                59.99% {
                    background-color: $Base-color-backgrond;
                    background-position: 0% 0%;
                }
                60% {
                    background-color: $base-color-detail;
                    background-position: 0% 100%;
                }
                80% {
                    background-position: 0% 0%;
                }
                81% {
                    background-color: $base-color-detail;
                }

                90%,
                100% {
                    background-color: $Base-color-backgrond;
                }
            }
        }
    }
}
@media screen and(max-width: 768px) {
    .hero-container {
        height: auto;
        grid-template-columns: 0.58fr 1fr 1fr;
        grid-template-rows: 21rem 9rem;
        background-size: cover;
        background-position: 4rem 0rem;
        .hero-subtitle {
            h3 {
                font-size: 1rem;
            }
        }
        .hero-title {
            h1 {
                font-size: 4.3rem;
            }
        }
        .hero-description {
            display: none;
        }
        .hero-mouse {
            .hero-mouse-line {
                height: 4.48rem;
            }
            .hero-mouse-icon {
                height: 34px;
                width: 20px;
                top: 0.4rem;
                left: 0.4rem;
                &::after {
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }
}